# ASP.NET Core
appsettings.Development.json
appsettings.*.json
!appsettings.json

# Build output
bin/
obj/


# Visual Studio
.vs/
*.user

# User Secrets (không cần thiết vì lưu ngoài project, nhưng để chắc)
secrets.json