@{
    ViewData["Title"] = "Đăng ký thành công";
}
<h3>Đăng ký thành công</h3>
<p>Tài khoản của bạn đã được tạo thành công. Bạn có thể đăng nhập ngay.</p>
<a asp-action="Login" class="btn btn-danger mt-2">Đăng nhập ngay</a>
